[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
pytest = "*"
behave = "*"
selenium = "*"
django = "*"

[packages]
flask = "*"
pytest = "*"
behave = "*"
selenium = "*"
djanjgo = "*"

[requires]
python_version = "3.8"